html {
    background-color: #222831;
}

body {
    font-family: 'Lato', sans-serif;
    color: white;
}

html,
body,
main {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 5;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

nav {
    background-color: #393e46;
}

.hero {
    position: relative;
    width: 100%;
    height: 70vh;
    text-align: center;
    transition: height 999999s;
    min-height: 300px;
}

.hero .content {
    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

.brand {
    font-size: 0.8em;
}

.active {}