{% extends 'base.html' %}

{% block title %} Acceuil {% endblock %}

{% block content %}
<!-- Hero section -->
	<section class="hero-section overflow-hidden">
		<div class="hero-slider">
        {% if article.img_url %}
			<div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" style="height: 25rem;" data-setbg="{{ article.img_url }}">
        {% else %}
            <div class="hero-item set-bg d-flex align-items-center justify-content-center text-center no-img-background" style="height: 25rem;">
        {% endif %}
				<div class="container">
					<h3 style="color:white;">{{ article.name }}</h3>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end-->

    <!-- Blog section -->
	<section class="blog-section spad" style="padding-top:13rem;">
		<div class="container">
			<div class="row">
				<div class="col-xl-9 col-lg-8 col-md-7">
                    {{ article.content|markdown }}
				</div>
			</div>
		</div>
	</section>
	<!-- Blog section end -->
{% endblock %}
