{% extends 'base.html' %}

{% block title %} Acceuil {% endblock %}

{% block content %}
<section class="edit-article article-form">
	<div class="text-box">
		<form action="" enctype="multipart/form-data" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.categories.label }}<br>
            {{ form.categories(size=64) }}
        </p>
        <p>
            {{ form.pinned.label }}<br>
            {{ form.pinned }}
        </p>
        {{ form.desc_img.label }}<br>
        <img widht="150" height="143" src="{{ form.desc_img_url.data }}"/>
        <p>
            {{ form.desc_img }}
        </p>
        {{ form.img.label }}<br>
        <img widht="150" height="143" src="{{ form.img_url.data }}"/>
        <p>
            {{ form.img }}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=100) }}
        </p>
        <p>
            {{ form.content.label }}<br>
            {{ form.content(size=150) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
	</div>
</section>
{% endblock %}